/* =================================== */
/* =======  Footer Section CSS  ====== */
/* =================================== */
.footer-section {
    background-color: #191938;
    text-align: center;
        padding: 48px 32px 16px 32px;
}
.footer-top {
    max-width: 1050px;
    margin: 0 auto 60px;
}
.footer-top h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 44px;
    line-height: 38px;
    color: #fff;
}
.footer-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid transparent;
    color: #191938;
    padding: 10px 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
}
.footer-btn svg {
    stroke: #191938;
    transition: all 0.3s ease;
}
.footer-btn:hover {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.footer-btn:hover svg {
    stroke: #fff;
}
.footer-divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.45);
    margin: 32px 0;
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    max-width: 1600px;
    margin: 0 auto;
}
.footer-column img {
    margin: 0 0 28px 0;
    filter: brightness(0) invert(1);
}
.footer-column {
    position: relative;
}
.col-2 {
    display: flex;
    gap: 20px;
}
.border-left {
    background: rgba(255, 255, 255, 0.45);
    width: 1px;
    top: 0px;
    height: 100%;
    position: absolute;
    left: -24px;
}
.border-right {
    background: rgba(255, 255, 255, 0.45);
    width: 1px;
    top: 0px;
    height: 100%;
    position: absolute;
    right: -24px;
}
.footer-column h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 28px;
    color: #fff;
}
.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-column ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer-column ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease, opacity 0.3s ease;
}
.footer-column ul li a::before {
    content: "•";
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.footer-column ul li a:hover {
   opacity: 50%;
}
/* ===== Social Icons ===== */
.social h4{
    text-align: center;
}
.social-icons {
    display: flex;
    gap: 14px;
    align-items: center;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a {
    font-size: 1.5rem;
    background: #fff;
    color: #191938;
    border-radius: 50%;
    width: 32px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
/* ===== Copyright ===== */
.footer-copy {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}
/* ===== Responsive ===== */
@media (max-width: 992px) {
    .footer-bottom {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .footer-top h2 {
        font-size: 1.6rem;
    }

    .footer-top p {
        font-size: 1.2rem;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-btn {
        font-size: 18px;
        padding: 10px 40px;
    }
}
